{% extends 'base.html' %}

{% block content %}
</br>
<h5 align="justify" style="text-indent: 1.25cm">
    Este sistema permite cadastrar competidores e torneios para facilitar o seu torneio mata-mata. Além
    disso você pode cadastrar os resultados do torneio em cada fase e ver quem são os primeiros colocados.
</h5>
</br>
<h5 align="justify" style="text-indent: 1.25cm">
    Na aba Competidores você encontra a lista de competidores do torneio, onde é possível cadastrar mais
    competidores, editar e excluí-los também.
</h5>
</br> 
<h5 align="justify" style="text-indent: 1.25cm">
    Na aba Torneios é possível ver os torneios cadastrados em uma lista, cadastrar mais torneios, selecionar
    os competidores do torneio, excluir e visualizar de forma detalhada os torneios.
</h5>
</br>
<h5 align="justify" style="text-indent: 1.25cm">
    Dentro de cada torneio é possível ver as fases do campeonato com uma lista de partidas e cadastrar os
    vencedores e no fim do campeonato será possível ver uma lista com os primeiros colocados do campeonato.
</h5>
{% endblock %}